<%= link_to "Bike Index", "/bikes" %>
<br>
<%= link_to "Shop Index", "/cycle_shops" %>

<p><%= @shop.name %></h1> <%= link_to "Edit", "/cycle_shops/#{@shop.id}/edit", method: :get %> </p>
<p>Shop Details: </p>
<p>Rental Available: <%= @shop.rental_program %></p>
<p>Shop Capacity: <%= @shop.bike_capacity %> Bikes</p>

<p>Bikes Available: <%= @bike_count %></p>

<%= link_to "Cycle Shop Bikes", "/cycle_shop/#{@shop.id}/bikes" %>
<br>
<%= link_to "Delete Cycle Shop", "/cycle_shops/#{@shop.id}", method: :delete %>