<h2>Edit <%= @bike.brand %> Bike</h2>
<%= form_with url: "/bikes/#{@bike.id}", method: :patch, local: true do |form| %>
  <%= form.label :brand %>
  <%= form.text_field :brand %>

  <%= form.label :frame_size %>
  <%= form.text_field :frame_size %>

  <%= form.label :demo_available %>
  <%= form.text_field :demo_available %>
  <%= form.submit "Submit" %>
<% end %>