<%= link_to "Bike Index", "/bikes" %>
<br>
<%= link_to "Shop Index", "/cycle_shops" %>

<h1><%= @bike.brand %></h1> 

<p>Demo Available: <%= @bike.demo_available %></p>
<p>Frame Size: <%= @bike.frame_size %></p>

<%= link_to "Update Bike", "/bikes/#{@bike.id}/edit", method: :get %>
<br>
<%= link_to "Delete Bike", "/bikes/#{@bike.id}", method: :delete %>